<div class="row topspace20">
	<!--  Photo -->
	<div class="col-md-6">
		<% if !sighting.site.nil? %>
		  <p><span style="font-weight: bold;">Site:</span> <%= sighting.site.name %></p>
		<% else %>
		  <p>None given</p>
		<% end %>
		<p><span style="font-weight: bold;">Species:</span> <%= sighting.species.fullname %></p>
    <p><span style="font-weight: bold;">Date/Time:</span> <%= sighting.datetime_sighted.to_formatted_s(:long_ordinal) %></p>
    <p><%= link_to "View Sighting Details", sighting, :"data-turbolinks" => false %></p>
	</div>
	<div class="col-md-6">
  	<% if sighting.photo.file? %>
	    <p><%= image_tag sighting.photo.url(:thumb) %></p>
	  <% else %>
	    <p><%= image_tag("no_image.gif", size: "200x200", alt: "No Image Available") %></p>
	  <% end %>
	</div>
</div>
