<tr>
  <td><%= sighting.id %></td>
  <% if !sighting.site.nil? %>
    <td><%= sighting.site.name %> </td>
  <% else %>
    <td>None given</td>
  <% end %>
  <td><%= sighting.species.fullname %> </td>
  <!-- <td><%= sighting.datetime_sighted.to_formatted_s(:long_ordinal) %> </td> -->
  <td><%= sighting.datetime_sighted.strftime("%Y-%m-%d") %> </td>
  <% if sighting.photo.file? %>
    <td align="center"><%= image_tag(sighting.photo.url(:thumb), class:"img-thumbnail") %></td>
	<% else %>
    <td align="center"><%= image_tag("no_image.gif", size: "100x100", alt: "No Image Available") %></td>
  <% end %>
  <td style="display:none;"><%= link_to "View", sighting, :"data-turbolinks" => false %></td>
</tr>