<% provide(:title, 'New Sighting') %>
<% provide(:pageheading, 'New Sighting') %>

<%= form_for @sighting, :html => {:class => "form-horizontal", :multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group topspace20">
    <%= f.label :species_id, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Species'></i> Species *".html_safe, :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= collection_select(:sighting, :species_id, Species.all, :id, :fullname, {include_blank: 'None selected'}, {:class=>"form-control multiselect", :id=>'species', :multiple=> false} ) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :datetime_sighted, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Date/Time'></i> Date/Time of Sighting *".html_safe, :class => "col-md-3 control-label" %>
    <div class="col-md-6">
    	<% if mobile_device? %>
        <%= f.datetime_local_field :datetime_sighted, :class => "form-control" %>
      <% else %>
        <%= f.text_field :datetime_sighted, data: { :date_format => 'YYYY/MM/DD hh:mm' }, :class => 'form-control datetimepicker', placeholder: 'YYYY/MM/DD hh:mm:ss' %>
      <% end %>
    </div>
  </div>

  <% if current_user.role != 'user' %>
    <div class="form-group">
    <%= f.label :spotter_id, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Spotter'></i> Sighted by *".html_safe, :class => "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= collection_select(:sighting, :spotter_id, User.all, :id, :fullname, {:selected => current_user.id}, {:class=>"form-control multiselect", :id=>'spotters', :multiple=> false} ) %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :site_id, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Research Site'></i> Research Site *".html_safe, :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= collection_select(:sighting, :site_id, Site.all, :id, :listname, {include_blank: 'None selected'}, {:class=>"form-control multiselect", :id=>'sites', :multiple=> false} ) %>
    </div>
  </div>


  <div class="row topspace20 bottomspace">
	  <div class="col-sm-4 col-md-3 col-md-offset-3">
		  <button class="btn btn-block btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		    Add Specific Location
		  </button>
		</div>
	</div>

  <div class="form-group">
		<div class="collapse col-md-6 col-md-offset-3" id="collapseExample">
			<div class="well">
			  <div class="form-group">
			    <%= f.label :latitude, "Latitude", :class => "col-lg-4 control-label" %>
			    <div class="col-md-6">
			      <%= f.number_field :latitude, :class => "form-control", :min => -90.0, :max => 90.0, :step => 'any' %>
			    </div>
			  </div>

			  <div class="form-group">
			    <%= f.label :longitude, "Longitude", :class => "col-lg-4 control-label" %>
			    <div class="col-md-6">
			      <%= f.number_field :longitude, :class => "form-control", :min => 0.0, :max => 360.0, :step => 'any' %>
			    </div>
			  </div>

			  <div class="form-group">
			    <%= f.label :altitude, "Altitude (m)", :class => "col-lg-4 control-label" %>
			    <div class="col-md-6">
			      <%= f.number_field :altitude, :class => "form-control", :min => 0.0, :max => 10000.0, :step => 'any' %>
			    </div>
			  </div>

			  <div class="row">
			    <div class="col-sm-6 col-sm-offset-3"> Or get location details automatically</div>
			  </div>
			  <div class="row">
			    <div class="col-sm-6 col-sm-offset-3">
			  	  <button class="btn btn-block btn-default" type="button" onclick="getGPSLocation();return false;">Get my Location</button>
			  	</div>
			  </div>

		  </div>
		</div>
  </div>

  <div class="form-group">
    <%= f.label :dom_reproductive_stage, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Dominant Reproductive Stage'></i> Dominant Reproductive Stage *".html_safe, :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.select(:dom_reproductive_stage, Settings.dom_reproductive_stage, {:include_blank => true}, {:class => "form-control"}) %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :healthy_flowers, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Healthy Flowers'></i> Healthy Flowers".html_safe, :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.select(:healthy_flowers, Settings.healthy_flowers, {:include_blank => true}, {:class => "form-control"}) %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :healthy_pods, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Healthy Pods'></i> Healthy Pods".html_safe, :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.select(:healthy_pods, Settings.healthy_pods, {:include_blank => true}, {:class => "form-control"}) %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :adult_abundance, "<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='auto' data-original-title='Help text for filling out Adult Abundance'></i> Adult Abundance".html_safe, :class => "col-md-3 control-label" %>
	  <div class="col-md-6">
	    <%= f.number_field :adult_abundance, :min => 0, :max => 1000, :class => "form-control" %>
	  </div>
  </div>


  <div class="form-group">
    <%= f.label :comments, "Comments", :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.text_area :comments, :class => "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :photo, "Photograph", :class => "col-md-3 control-label" %>
    <div class="col-md-6">
      <div class="fileinput fileinput-new" data-provides="fileinput">
			  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 100%;">
			  </div>
			  <div>
			    <span class="btn btn-default btn-file">
			    	<span class="fileinput-new">Select Photo</span>
			    	<%= f.file_field :photo, :class => "form-control" %>
			    </span>
			    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
			  </div>
			</div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>


<% end %>

<% content_for :page_scripts do %>
  <script>
    $(function() {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        // may not need return
        return
      } else {
        return $('.datetimepicker').datetimepicker();
      }
    });
  </script>
  <script type="text/javascript">
    $('#species, #sites, #spotters').multiselect({
        buttonClass : "form-control",
        buttonWidth: "100%",
        maxHeight: 400,
        enableCaseInsensitiveFiltering: true,
    });
  </script>
  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip()
  </script>

<% end %>
