<% content_for :page_scripts do %>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.map.centerOn(markers[0]);
      handler.getMap().setZoom(9);
    });
  </script>
<% end %>

<% provide(:title, 'Sighting View') %>
<% provide(:pageheading, 'Sighting '+ @sighting.id.to_s) %>


<!-- Add edit/delete buttons if authorized -->
<% if can? :edit, @sighting %>
	<div class="row bottomspace topspace20">
	  <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-sm-push-10">
			<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
			  Options
			  <span class="caret"></span>
			</a>
			<ul class="dropdown-menu btn-block">
			  <li><%= link_to "Edit Sighting", edit_sighting_path(id:@sighting.id) %> </li>
			  <li><%= link_to "Delete Sighting", @sighting, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		  </ul>
		</div>
	</div>
<% end %>

<div class="row topspace20">
  <!--  Fields -->
  <div class="col-md-5 topspace20">
		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Species</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.species.fullname %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Site</p>
		  </div>
		  <div class="col-md-5">
        <% if !@sighting.site.nil? %>
		      <p class="text-muted"><%= @sighting.site.name %></p>
        <% else %>
		      <p class="text-muted">None given</p>
        <% end %>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Date/Time of Sighting</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.datetime_sighted.to_formatted_s(:long_ordinal) %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Sighted by</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.spotter.fullname %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Comments</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.comments %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Latitude</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= number_with_precision(@sighting.latitude, :precision => 6)%></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Longitude</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= number_with_precision(@sighting.longitude, :precision => 6)%></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Altitude</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= number_with_precision(@sighting.altitude, :precision => 2)%></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Plant Ages Seen</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.plant_ages_seen %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Dominant Flower Stage</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.dom_flower_stage %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Dominant Pod Stage</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.dom_pod_stage %></p>
		  </div>
		</div>


		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Healthy Flowers</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.healthy_flowers %></p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Healthy Pods</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.healthy_pods %></p>
		  </div>
		</div>


		<div class="row">
		  <div class="col-md-offset-1 col-md-6">
		    <p class="text-left">Adult Abundance</p>
		  </div>
		  <div class="col-md-5">
		    <p class="text-muted"><%= @sighting.adult_abundance %></p>
		  </div>
		</div>

  </div>

  <!--  Photo -->
  <div class="col-md-3 topspace20 center">
	  <% if @sighting.photo.file? %>
	    <%= link_to image_tag(@sighting.photo.url(:medium), class:"img-fluid"), image_path(@sighting.photo.url(:large), class:"img-thumbnail"), data: {toggle:"lightbox"} %>
    <% else %>
	    <%= image_tag("no_image.gif", size: "200x200", alt: "No Image Available") %>
    <% end %>
    <div class="row">
		  <div class="col-xs-12 center">
		    <p>Click image to enlarge</p>
		  </div>
		</div>
  </div>

  <!--  Map -->
  <div class="col-md-4 topspace20">
		<div id="map" class="center" style="width: 100%; height: 350px;"></div>
		<div class="row">
		  <div class="col-xs-12 center">
        <%= image_tag("marker_plant.png")%> Sighting
        <% if !@sighting.site.nil? %>
          <%= image_tag("marker_pink.png")%> Site Centre
        <% else %>
          <%= image_tag("marker_pink.png")%> No site given
        <% end %>
      </div>
		</div>
  </div>
</div>

<script type="text/javascript">

</script>