<% provide(:title, 'Edit Research Site') %>
<% provide(:pageheading, 'Edit Research Site '+@site.id.to_s) %>

<%= form_for @site, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name, 'Name *', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street, "Street", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :street, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :suburb, "Suburb *", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :suburb, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comments, "Comments", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :comments, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :centre_lat, "Centre Latitude *", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.number_field :centre_lat, :class => "form-control", :min => -90.0, :max => 90.0, :step => 'any' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :centre_lon, "Centre Longitude *", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.number_field :centre_lon, :class => "form-control", :min => 0.0, :max => 360.0, :step => 'any' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :centre_alt, "Centre Altitude (m) *", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.number_field :centre_alt, :class => "form-control", :min => 0.0, :max => 10000.0, :step => 'any' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Update", :class => "btn btn-large btn-primary" %>
    </div>
  </div>

<% end %>